.button {
	--button-primary-bg: var(--color-primary);
	--button-primary-bg-accent: var(--color-primary-dark);
	--button-primary-text: var(--color-primary-text);
	--button-secondary-bg: var(--color-secondary);
	--button-secondary-bg-accent: var(--color-secondary-dark);
	--button-secondary-text: var(--color-secondary-text);
	--button-border-radius-md: var(--border-radius-md);
	--button-border-radius-sm: var(--border-radius-sm);
	--button-disabled-bg: var(--color-disabled);
	--button-disabled-text: var(--color-disabled-text);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-sm);
	border: none;
	gap: 0.5rem;
}

/* Sizes */
.size-small {
	padding: var(--spacing-sm) var(--spacing-md);
	font-size: 14px;
	border-radius: var(--button-border-radius-sm);
}

.size-medium {
	padding: var(--spacing-md) var(--spacing-lg);
	font-size: 16px;
	border-radius: var(--button-border-radius-md);
}

/* OUTLINED */

.variant-outlined.theme-secondary {
	color: var(--button-secondary-text);
	border: 1px solid var(--button-secondary-bg);
	background-color: transparent;
	&:focus,
	&:hover {
		border-color: var(--button-secondary-bg-accent);
	}
}

.variant-outlined.theme-primary {
	color: var(--button-primary-bg);
	border: 1px solid var(--button-primary-bg);
	background-color: transparent;
	&:focus,
	&:hover {
		color: var(--button-primary-bg-accent);
		border-color: var(--button-primary-bg-accent);
	}
}

/* CONTAINED */

.variant-contained {
	border: none;
}
.theme-primary.variant-contained {
	background-color: var(--button-primary-bg);
	color: var(--button-primary-text);
	&:focus,
	&:hover {
		background-color: var(--button-primary-bg-accent);
	}
}
.theme-secondary.variant-contained {
	background-color: var(--button-secondary-bg);
	color: var(--button-secondary-text);
	&:focus,
	&:hover {
		background-color: var(--button-secondary-bg-accent);
	}
}

/* Disabled state */
.button.variant-contained:disabled {
	color: var(--button-disabled-text);
	background-color: var(--button-disabled-bg);
}

.button.variant-outlined:disabled {
	color: var(--button-disabled-text);
	border-color: var(--button-disabled-bg);
}
