.button {
	--button-primary-bg: var(--color-primary);
	--button-primary-hover: var(--color-primary-hover);
	--button-primary-text: var(--color-primary-text);
	--button-secondary-bg: var(--color-secondary);
	--button-secondary-hover: var(--color-secondary-hover);
	--button-secondary-text: var(--color-secondary-text);
	--button-border-radius-md: var(--border-radius-md);
	--button-border-radius-sm: var(--border-radius-sm);
	--button-disabled-bg: var(--color-disabled);

	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-sm);
	border: none;
	outline: none;
	gap: 0.5rem;
}

.button:focus-visible {
	outline: 2px solid var(--button-primary-bg);
	outline-offset: 2px;
}

/* Sizes */
.size-small {
	padding: var(--spacing-sm) var(--spacing-md);
	font-size: 14px;
	border-radius: var(--button-border-radius-sm);
}

.size-medium {
	padding: var(--spacing-md) var(--spacing-lg);
	font-size: 16px;
	border-radius: var(--button-border-radius-md);
}

/* Variants */
.variant-contained {
	border: none;
}

.variant-outlined.theme-secondary {
	background: transparent;
	color: var(--button-secondary-text);
	border: 1px solid var(--button-secondary-text);
}

.variant-outlined.theme-primary {
	background: transparent;
	color: var(--button-primary-bg);
	border: 1px solid var(--button-primary-bg);
}

/* Themes */
.theme-primary {
	background-color: var(--button-primary-bg);
	color: var(--button-primary-text);
}

.theme-primary:hover:not(:disabled) {
	background-color: var(--button-primary-hover);
}

.theme-secondary:hover:not(:disabled) {
	background-color: var(--button-secondary-hover);
}

/* Disabled state */
.button:disabled {
	background-color: var(--button-disabled-bg);
}
