:root {
	/* Colors */
	--color-primary: #4b7a8a;
	--color-primary-dark: #245866;
	--color-secondary: #eeeeee;
	--color-secondary-dark: #dddddd;
	--color-primary-text: white;
	--color-secondary-text: #1a1a1a;
	--color-disabled: #eeeeee;
	--color-disabled-text: #909090;
	/* Spacing */
	--spacing-sm: 0.25rem;
	--spacing-md: 0.5rem;
	--spacing-lg: 1rem;

	/* Border radius */
	--border-radius-sm: 4px;
	--border-radius-md: 8px;
}
